

/*h1{
    font-size: 3rem;
}

/*.container{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    width: 350px; 
}*/
/*input{
    background-color: rgb(255, 244, 230);
    padding: 0.3rem 1rem;
    border: none;
}

button{
    padding: 0.3rem 1rem;
    border: none;
    background-color: cadetblue;
}

li{
    font-size: 1.2rem;
}


.toggle{
    margin: 20px 10px;

    width: 70px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 15px;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
    background-image: url(right-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.circle.active{
    transform: translateX(40px);
    background-color: crimson;
    background-image: url(arrow-right.png);
}

.toggle.active{
    background-color: black;
} */



/************************************************************/



body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 5rem;
}

.container{
    display: flex;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.txt{
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    border: none;
}
.txt::placeholder{
    font-size: 0.8rem;
    color: #555;
}

button{
    margin: 0;
    padding: 0.5rem 1rem;
    border:none;
    cursor: pointer;
}

li{
    list-style: none;
    font-size: 1.5rem;
    color: #262626;
    cursor: pointer;
}













